.activity {
    padding: 160px 0;
}
.activity__content {
    gap: 10px 0;
    margin-bottom: 80px;
}
.activity__menu {
    gap: 30px 0;
}
.activity__menu--img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}