.medicine {
    padding: 160px 0;
}
.medicine__content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.medicine__content--link {
    color: #23A6F0;

    /* link */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}
.medicine--img {
    width: 100%;
}