.hero {
    align-items: center;
    gap: 30px 0;
    padding: 47px 0;
}
.hero__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero--image {
    width: 100%;
}
.btn-quote {
    margin-right: 10px;
}