.product__item--icon {
    padding: 24px;
    background-color: #23A6F0;
    border-radius: 200px;
    width: max-content;
}

.product__item--param {
    color: #737373;
    /* h6 */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}
.item--price {
    color: #23A6F0;
    /* h2 */
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px; /* 125% */
    letter-spacing: 0.2px;
}
.item--annualy {
    color: #8EC2F2;
    /* h6 */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}
.product__item--benefits {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.item--benefit {
    display: flex;
    align-items: center;
    gap: 10px;
}
.check-icon {
    padding: 10px 8px 11px 8px;
    background-color: #2DC071;
    border-radius: 200px;
}
.check-none-icon {
    background-color: #BDBDBD;
}