.feedback-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.feedback-item__rating {
    margin-bottom: 15px;
}
.feedback-item__desc {
    padding: 0 30px;
    padding-bottom: 30px;
}
.feedback-item__user {
    display: flex;
    align-items: center;
    gap: 15px;
}
.feedback-item__user img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.feedback-item__user .info-job {
    color: #252B42;

    /* small */
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}