.product__image {
    height: 300px;
    object-fit: cover;
}
.product__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product__tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__tag--icon {
    width: 1rem;
    height: 1rem;
    object-fit: cover;
}
.product__sale {
    display: flex;
    align-items: center;
    color: #737373;
    gap: 10px;

    /* h6 */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.product__price {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}
.product__price--disc {
    color: #40BB15;
}
.product__process {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.product__process--duration, .product__process--lesson, .product__process--progress {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #737373;

    /* small */
    font-family: Montserrat;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
}