.footer__info {
    gap: 15px 0;
}
.footer__company li {
    margin-bottom: 10px;
}
.footer__company li:last-child {
    margin-bottom: 0;
}
.footer__company li a {
    color: #737373;

    /* link */
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
    text-decoration: none;
    display: flex;
}
.footer__company li a img {
    margin-right: 10px;
}

.footer__copyright {
    background-color: #FAFAFA;
}
.footer__copyright--author {
    color: #737373;

    /* h6 */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}
.footer__copyright--social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}