.news {
    padding: 160px 0;
}
.news__content {
    gap: 10px;
    margin-bottom: 80px;
}
.news__form {
    justify-content: center;
}
.news--form {
    display: flex;
}
.news--input {
    border-radius: 5px 0 0 5px;
    color: #737373;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    background: #F9F9F9;
    padding: 15px 20px;
}